<!-- <p>
  {{username}}
  <button (click)='clicked()'>Click me !</button>
</p> -->
<!-- <div>
  <form #myForm='ngForm' (ngSubmit)='submitted(myForm)'>
    <input type="text" [ngClass]="{'error': !username }" name="userName" [(ngModel)]="username" required>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</div> -->

<div class="login-form-container">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)='onSubmit()'>
    <p>
      <!-- <label for="login">Identifiant</label>
      <input type="text" [ngClass]="{'error': !login }" id="login" formControlName="login"> -->
      <mdl-textfield autofocus label="Identifiant" type="text" formControlName="login" floating-label></mdl-textfield>
      <app-help [field]="loginForm.get('login')" [messages]="{
                required: 'Entrez votre login',
                minlength: 'Le login doit avoir un minimum de 3 caractères.'
                }"></app-help>
    </p>
    <p>
      <!-- <label for="password">Password</label>
      <input type="text" [ngClass]="{'error': !password }" id="password" formControlName="password"> -->
      <mdl-textfield label="Mot de passe" type="password" formControlName="password" floating-label></mdl-textfield>
      <app-help [field]="loginForm.get('password')" [messages]="{
                  required: 'Entrez votre mot de passe',
                  checkPassword: 'Trop court'}"></app-help>
    </p>
    <p>
      <app-button [disabled]="!loginForm.valid" mdlColor="primary"
                libelle="Valider"  mdlType="raised" icon="check"
                (clicked)="onClicked($event)">
      </app-button>
    </p>
  </form>
</div>
